chapter10-mashups/node-red/pir-websockets-twitter.json
[{"id":"f65a484f.a5375","type":"websocket-client","path":"ws://localhost:8484/properties/pir","wholemsg":"true"},{"id":"75ecda01.76cfa4","type":"http request","name":"get snapshot","method":"GET","ret":"bin","url":"http://devices.webofthings.io:9090/snapshot.cgi?user=snapshots&pwd=4MXfTSr0gH","x":602,"y":230,"z":"9d438066.56d85","wires":[["1df4799a.f61e1e"]]},{"id":"9d70a71d.27c8a8","type":"twitter out","twitter":"","name":"Tweet","x":959,"y":205,"z":"9d438066.56d85","wires":[]},{"id":"1df4799a.f61e1e","type":"function","name":"copy image","func":"msg.media = msg.payload;\nmsg.payload = 'Intruder Detected!';\nreturn msg;","outputs":1,"noerr":0,"x":805,"y":210,"z":"9d438066.56d85","wires":[["9d70a71d.27c8a8"]]},{"id":"f0212b36.2d5d58","type":"function","name":"check PIR value","func":"if(msg.presence) {\n    return msg;\n}\nelse return null;","outputs":1,"noerr":0,"x":409,"y":237,"z":"9d438066.56d85","wires":[["75ecda01.76cfa4"]]},{"id":"eb0886fa.41c758","type":"http request","name":"turn led on/off","method":"POST","ret":"txt","url":"http://localhost:8484/actions/ledState","x":600,"y":306,"z":"9d438066.56d85","wires":[["1c339f4a.6ba069"]]},{"id":"1c339f4a.6ba069","type":"debug","name":"","active":false,"console":"false","complete":"true","x":797,"y":277,"z":"9d438066.56d85","wires":[]},{"id":"4e1f5118.fb3c38","type":"function","name":"prepare led msg","func":"msg.headers = {\n'Accept' : 'application/json',\n'Content-Type' : 'application/json',\n'Authorization' : 'cKXRTaRylYWQiF3MICaKndG4WJMcVLFz'\n}\nif(msg.presence) {\n    msg.payload = {\"ledId\" : 1, \"state\" : true};\n    return msg;\n} else {\n    msg.payload = {\"ledId\" : 1, \"state\" : false};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":409,"y":280,"z":"9d438066.56d85","wires":[["eb0886fa.41c758","c7d4c3a5.f9ba28"]]},{"id":"f1bebcf6.694a5","type":"websocket in","name":"Listen for PIR","server":"","client":"f65a484f.a5375","x":203,"y":253,"z":"9d438066.56d85","wires":[["e1f1bbde.57fdc8","4e1f5118.fb3c38","f0212b36.2d5d58"]]},{"id":"e1f1bbde.57fdc8","type":"debug","name":"PIR event","active":true,"console":"false","complete":"true","x":345,"y":415,"z":"9d438066.56d85","wires":[]},{"id":"c7d4c3a5.f9ba28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":574,"y":388,"z":"9d438066.56d85","wires":[]}]