chapter10-mashups/node-red/pir-http-twitter.json
[{"id":"885a0bcd.7ad9a8","type":"http request","name":"get snapshot","method":"GET","ret":"bin","url":"http://devices.webofthings.io:9090/snapshot.cgi?user=snapshots&pwd=4MXfTSr0gH","x":782,"y":173,"z":"97f3d27.f8926b","wires":[["dfd3a912.773cb"]]},{"id":"cad032de.88225","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126,"y":229,"z":"97f3d27.f8926b","wires":[["790d4158.a29f8"]]},{"id":"a6dfd96f.782b","type":"twitter out","twitter":"","name":"Tweet","x":1139,"y":148,"z":"97f3d27.f8926b","wires":[]},{"id":"dfd3a912.773cb","type":"function","name":"copy image","func":"msg.media = msg.payload;\nmsg.payload = 'Intruder Detected!';\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":153,"z":"97f3d27.f8926b","wires":[["a6dfd96f.782b"]]},{"id":"1532e2c2.b307bd","type":"http request","name":"get PIR","method":"GET","ret":"obj","url":"http://localhost:8484/properties/pir","x":374,"y":98,"z":"97f3d27.f8926b","wires":[["79d3d9fa.e2ae18","e4e3834f.36ea8"]]},{"id":"790d4158.a29f8","type":"function","name":"add headers","func":"msg.headers = {\n'Accept' : 'application/json',\n'Authorization' : 'cKXRTaRylYWQiF3MICaKndG4WJMcVLFz'\n}\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":143,"z":"97f3d27.f8926b","wires":[["1532e2c2.b307bd"]]},{"id":"79d3d9fa.e2ae18","type":"function","name":"check PIR value","func":"if(msg.payload[0].presence) {\n    return msg;\n}\nelse return null;","outputs":1,"noerr":0,"x":589,"y":180,"z":"97f3d27.f8926b","wires":[["885a0bcd.7ad9a8"]]},{"id":"a6601dbf.1d9e3","type":"http request","name":"turn led on/off","method":"POST","ret":"obj","url":"http://localhost:8484/actions/ledState","x":780,"y":249,"z":"97f3d27.f8926b","wires":[["cfdc357b.2e6338"]]},{"id":"cfdc357b.2e6338","type":"debug","name":"","active":true,"console":"false","complete":"true","x":977,"y":220,"z":"97f3d27.f8926b","wires":[]},{"id":"e4e3834f.36ea8","type":"function","name":"prepare led msg","func":"msg.headers = {\n'Accept' : 'application/json',\n'Content-Type' : 'application/json',\n'Authorization' : 'cKXRTaRylYWQiF3MICaKndG4WJMcVLFz'\n}\nif(msg.payload) {\n    msg.payload = {\"ledId\" : 1, \"state\" : true};\n    return msg;\n} else {\n    msg.payload = {\"ledId\" : 1, \"state\" : false};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":571,"y":238,"z":"97f3d27.f8926b","wires":[["a6601dbf.1d9e3"]]}]